.vagrant
!.gitkeep
app/node_modules
app/bower_components
app/npm-debug.log
app/public/out/*
app/public/fonts/*
app/public/css/*
app/public/js/dist/*
app/public/images/face.jpg
app/public/images/ha_logo_revised.png
app/config/*.json
cookbooks/
