.vagrant/
!.gitkeep
app/node_modules
app/bower_components
app/npm-debug.log
app/public/out/*
!app/public/out/.gitkeep
app/public/screenshots/
!app/public/screenshots/.gitkeep
app/public/fonts/
app/public/css/
app/public/js/
app/public/images/
app/config/*
!app/config/default.json
cookbooks/
