extends template
block cover
   img.cover__frame.cover__frame--top(src='/images/frame-top.png')
   img.cover__frame.cover__frame--bottom(src='/images/frame-bottom.png')

   .cover__wrap
      h1.cover__title=title
      h2.cover__sub-title=subTitle
      p.cover__author=author

   .cover__credit
      img.cover__company--logo(src='/images/ha_logo_revised.png')
      span.cover__company 破滅派