extends template
block cover

   .cover__wrap
      .line
      .circle
      h1.cover__title!=title
      h2.cover__sub-title!=subTitle
      p.cover__author=author

   .cover__credit
      span.cover__company Hametuha INC.