doctype html
html(data-framework="angularjs", ng-app="hamTop")
   head
      title #{title} | hamTop
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='/css/cover.css')
      script(type="text/javascript",src="//webfont.fontplus.jp/accessor/script/fontplus.js?xnZANi~MEp8%3D&aa=1",charset="utf-8")
   body(class=port)
      div(class="cover cover--#{type}")
         block cover
      if preview
         .back.p
            a.btn.btn--l.btn--blue.btn--fab(href='/covers/')
               i.mdi.mdi-arrow-left-bold
      script(src='/js/dist/lib.js')
      script(src='/js/dist/app.js')
