extends layout

block content
  #fb-root
  script.
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=142930855791491";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  .jumbotron.jumbotron--top
    .jumbotron__sheat.jumbotron__sheat--top
    .jumbotron__inner.jumbotron__inner--top.container
      h1.jumbotron__title 電子書籍のカバーを作れないあなたへ
      p.jumbotron__copy
        |破滅派が少し不器用なあなたに送る、表紙画像作成サービス。
        br
        |かんたん、無料、そこそこ。
      p.jumbotron__actions
        a.junbotron__link.btn.btn--blue.btn--xl.btn--raised(href="/auth/", rel='nofollow', role="button", lx-ripple) はじめる
      img.jumbotron__pic(src="/images/sample.jpg")
      p.jumbotron__credit
        |Photo by &nbsp;
        a(href="https://flic.kr/p/b1qbNa", target='_blank') Sergey Galyonkin
        |&nbsp;on CC-BY SA 2.0

  if message
    div.container
      div(class='card text-center tc-white-1 bgc-red-500 p+++ m+++')=message

  .features
    .container
      h2.features__title.text-center
        |はめぴくっ！
        small とは
      .divider--mini
      p.features__lead.text-center
        |破滅派の電子書籍サービスで利用できる
        |カバー用画像生成サービスです。
      .row.features__menu
        .col4.text-center
          i.mdi.mdi-numeric-0-box-multiple-outline
          h3.features__subtitle.fs-title 無料！
          p.features__desc
            |お金は一切かかりません
            br
            |（※いまのところ）
        .col4.text-center
          i.mdi.mdi-auto-fix
          h3.features__subtitle.fs-title かんたん！
          p.features__desc
            |余計な操作はなし！
            br
            |必要な項目を入力するだけです。
        .col4.text-center
          i.mdi.mdi-emoticon-poop
          h3.features__subtitle.fs-title そこそこ！
          p.features__desc
            |無料で簡単なので……
            br
            |本が売れたらお金をかけましょう！

  .jumbotron.jumbotron--account.clearfix
    .jumbotron__sheat.jumbotron__sheat--account
    .jumbotron__inner.jumbotron__inner--account
      .container
        .row
          .col9
            p.jumbotron__copy--account.fs-headline
              |はめぴくっ！　のご利用には破滅派のアカウントが必要です。
              br
              |どなたでも無料で取得できます。
          .col3
            p.jumbotron__copy--account.text-center
              a.btn.btn--green.btn--raised.btn--xl(href='https://hametuha.com', target='_blank', lx-ripple) アカウント取得
  .features.features--quality
    .container
      h2.features__title.text-center
        | そこそこのクオリティ
        small について
      .divider--mini
      p.features__avatar.text-center
        img.features__gravatar(src="#{avatar}")
      p.features__lead.text-center
        span.emphasis そこそこ
        |というネガティブな要素について、
        br
        |破滅派編集長
        a(href='https://hametuha.com/doujin/detail/takahashi_fumiki/', target='_blank') 高橋文樹
        | から少し説明させてください。
        br
        |以下の文は編集部で交わしたメールを元に再構成しています。
      p.text-center.features__next
        i.mdi.mdi-chevron-double-down

  .divider
  section.wiki
    .container
      .row
        .col2
          img.wiki__pic--story(src='/images/story-01.png')
        .col10
          .wiki__content
            :markdown
              破滅派ではこれまで何冊か[電子書籍を出している](http://hametuha.com/kdp/)のですが、その多くは著者自身、
              あるいは破滅派編集部が無償で作成したものでした。

              その出来栄えにはバラつきがあり、中には_残念なクオリティ_のものもありました。
              すべての表紙が掛け値無しにすばらしければよかったのですが、そのようにはなりませんでした。

  section.wiki.wiki--zebra
    .container
      .row
        .col10
          .wiki__content
            :markdown
              その場合、「お金を出して高いクオリティの表紙を手に入れる」のも一つの答えでしょう。
              しかし、それで必ずしも売れるかというと、そうではありません。

              高いお金をかけても売れないこともあるし、お金をかけなくても売れる場合があります。
              私たちはそういうものをよく知っています。
              それどころか、_お金をかけてもよい表紙ができない_ことさえあるでしょう。

              もしこの世に**表紙と売上の黄金律**があったとしても、それは価格との単純な比例関係にないだろうということは、
              みなさんも直感的にお分かりのはずです。

        .col2
          img.wiki__pic--story(src='/images/story-02.png')


  section.wiki
    .container
      .row
        .col2
          img.wiki__pic--story(src='/images/story-03.png')
        .col10
          .wiki__content
            :markdown
              お金をかけても売れるかどうか分からず、かといってどんなひどい表紙でも売れると開き直ることも難しい。

              そんな状況で破滅派が出せる最適解は次のようなものでした。

              **ひどくないデザインの表紙が無料で簡単に手に入ること**。

              あなたがよりよいクオリティの表紙を作ることができたり、
              素晴らしい表紙を作るコストを上回る売上が立つに違いないのならば、
              そうすればいいのです。

              表紙が作れないせいで作品の発表をためらったり、
              ひどい表紙で売り出してしまうようなことこと、
              防がなければなりません。

              そのための原則を以下に紹介します。


  section.wiki.wiki--zebra.wiki--conclusion
    .container
      .row
        .col2.text-right
          .mdi.mdi-chevron-double-right.wiki__icon
        .col8
          h3.wiki__conclusion--title.text-center Principles of 0 Start
          p.wiki__conclusion.text-center.fs-headline
            |0スタートの原則
        .col2.text-left
          .mdi.mdi-chevron-double-left.wiki__icon

  section.wiki.wiki--principle
    .container
      .row
        .col2
          h3.wiki__title.wiki__title--principle
            small Principle 1.
            |表紙とは
            br
            |販促ツールである
        .col10
          .wiki__content.wiki__content--principle
            :markdown
              電子書籍に限らず、表紙とは「本の顔」なのですが、
              ここではあえて**販売促進ツール**と言い切ります。

              書店のポップや新聞のチラシがそうであるように、
              読むまではその正体がわからないテキスト——つまり、電子書籍の中身——を
              読ませるための**販売促進ツール**です。

              たとえば、破滅派の電子書籍第一弾『[方舟謝肉祭](http://hametuha.com/series/hakobune/)』の表紙に、
              村上春樹のように高名な作家が「高橋文樹くんは私を超える小説家です」
              と書いていたらどうでしょう。とても売れるでしょう。
              井上雄彦のように著名な漫画家が表紙イラストを書いてくれたら、
              同様に売れることでしょう。

              もちろん、それは新聞の書評欄にそう書いてあってもいいわけですし、
              帯に書いてあってもいいわけです。
              表紙はこうした意味において、**販売促進ツール**です。

  section.wiki.wiki--principle
    .container
      .row
        .col2
          h3.wiki__title.wiki__title--principle
            small Principle 2.
            |表紙には
            br
            |コストがかかる
        .col10
          .wiki__content
            :markdown
              なんでもそうですが、物事には予算とコストがあります。
              つまり、あなたの電子書籍の表紙にかけられるコストは無限ではなく、
              予算の範囲内でなければいけないということになります。

              たとえ金銭が発生していなかったとしても、時間や貸与もまたコストです。
              誰かに無償の仕事を依頼して引き受けてもらえたとしても、
              あなたは何がしかの対価（ex.相手からの信用の喪失）を支払ったことになります。

              あなたが器用な人で、執筆もデザインもなんでもござれという方だとしましょう。
              しかし、あなたはそのような技術を身につけるまで、
              ソフトウェアの購入費や教育・練習のための時間など、
              種々のコストを支払っているはずです。

              あなたがうら若き美女で、年老いた有名デザイナーを篭絡して無料で表紙を作ってもらっても、
              あなたは大切な何かを支払うことになります。
              あなたがそのデザインを誰かから盗んでも、あなたは「訴えられるリスク」という負債を
              背負うことになります。
              それらは結局のところ、コストです。

              あなたが誰であるにせよ、
              電子書籍のカバー画像作成のためにはコストがかかります。
              そして、そのコストは、
              あなたが_作品を世に問うために確保された予算_を上回っていてはいけません。

  section.wiki.wiki--principle
    .container
      .row
        .col2
          h3.wiki__title.wiki__title--principle
            small Principle 3.
            | マイナスから
            br
            | 始めない
        .col10
          .wiki__content
            :markdown
              私はWeb制作を生業としているので、
              デザインに日々ふれているのですが、
              _クオリティには3段階ある_と感じます。

              - 素晴らしい
              - 普通
              - ひどい

              正直申し上げると、**素晴らしい**と**普通**の違いは難しいです。

              私たちの身の回りはプロの手によってデザインされた製品で溢れかえっていて、
              たとえプロの仕事であっても、よほどのことがない限り「普通」としか思われません。

              一方、人には好みというものがあり、
              私が明らかに素晴らしいと思ったものが、
              ある人にとってはまったく興味を引かないということもありました。
              その人の趣味が悪いのかもしれませんし、
              私にセンスがなかったのかもしれません。

              しかし、ひどいものに関しては、_すぐにわかります_。

              ひどいWebデザインはWindowsに入っているデフォルトのフォントや、
              揃っていないマージン、可読性の悪い色合わせなど、
              プロならば絶対にやらないものから成り立っています。

              そう、ラーメン屋で考えてみてください。
              行列のできる店に入ってもそんなにおいしくなかったとします。
              あなたはたぶん「こんなものか」とか、
              「みんなは何が好きなんだろう？」と思うだけです。
              でも、石が入っていたらさすがに怒るでしょう？

              一度顧客の信頼を損なってしまったら、それを取り戻すのは至難の業です。
              まず最初の「ひどくない」というハードルを越え、
              それから好きになって貰えばいいのです。
              けっしてマイナスから始めてはいけません。

  section.wiki.wiki--principle
    .container
      .row
        .col2
          h3.wiki__title.wiki__title--principle
            small Principle 4.
            |表紙は
            br
            |変えられる
        .col10
          .wiki__content
            :markdown
              電子書籍やインターネットに慣れ親しんでいない方の多くが忘れているのは、
              表紙をいつでも変えることができる、という点です。

              たとえば岩波文庫のような見慣れた表紙が変わってしまったら、
              少し寂しいような気もするでしょうが、
              まだファンがそれほどついていない電子書籍の表紙が変わっても誰も気づきません。
              それどころか、より多くのファンを獲得できるかもしれません。

              たとえば、集英社文庫の古典作品は表紙を漫画に変えることでヒットしましたし、
              新装版と呼ばれる形でリニューアルされる本もあります。
              印刷物である本でさえ、そのような努力は行われているのです。

              ゼロからスタートしたあなたの作品は、
              反響に応じて表紙を変えていくべきです。
              売上が上がってきたら、その中の多くを販売促進費用として投資すべきです。
              1万円や2万円の利益が出たからといって、それで生活がまかなえるでしょうか。

              破滅派で発表した作品で、いまのところ大ヒットはまだありません。
              もちろん、素晴らしい作品ばかりですし、
              その中の幾つかは近い将来必ず売れるはずです。
              そうした幸せな結末を迎えるためにも、継続的な努力は欠かせません。

  section.wiki--last
    .container
      .row
        .col12
          p.text-center
            |はめぴくっ！ の理念をご理解いただけましたか？
            br
            |現在、破滅派では表紙デザインプレミアムサービスも検討しています。
            br
            |気になる方はフォローお願いいたします。
  section.social
    .container
      .row
        .col4.text-center
          .fb-like(data-href='https://www.facebook.com/hametuha.inc', data-layout='box_count', data-dhow-faces='false')
        .col4.text-center
          a.twitter-follow-button(href="https://twitter.com/hametuha", data-show-count='false', data-size="large") Follow @hametuha
          script.
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        .col4.text-center
          a.btn.btn--xl.btn--blue.btn--raised(href='https://hametuha.com/merumaga/', lx-ripple, target='_blank')
            i.mdi.mdi-email.mr
            |破滅派メルマガ

      .row
        .col12.text-center
          div.fb-comments(data-href="https://hametuha.pics/", data-width="100%", data-numposts="20")
