doctype html
html(data-framework="angularjs", ng-app="hamTop")
	head
		title #{title}
		link(rel='stylesheet', href='/css/style.css')
	body
		.card
			header.toolbar
				h1.toolbar__label.fs-title
					|#{title}

				.toolbar__right
					lx-dropdown(position='right', from-top)
						button.btn.btn--l.btn--grey.btn--icon(lx-ripple, lx-dropdown-toggle)
							i.mdi.mdi-menu
						lx-dropdown-menu
							ul(ng-cloak)
								li
									a.dropdown-link(href='/')
										i.mdi.mdi-home-modern
										|トップ
								if user
									li
										a.dropdown-link(href='/hello/')
											i.mdi.mdi-owl
											|ハロー
									li
										a.dropdown-link(href='/posts/')
											i.mdi.mdi-book-multiple
											|投稿一覧
									li
										a.dropdown-link(href='/auth/logout')
											i.mdi.mdi-logout
											|ログアウト
		block content
		footer.card
			.container
				p.copy.text-center.fs-body-2
					|&copy; 2015&nbsp;
					a(href="https://hametuha.co.jp") Hametuha INC.
		script(src='/js/dist/lib.js')
		script(src='/js/dist/app.js')
