extends layout

block content
  #main.container(ng-cloak)
    section.covers__wrap(ng-controller='PostList')
      .user-info.clearfix.p
        p.p
          img.user-info__pic.mr.float-left(src="#{user.avatar_urls['96']}")
          span.user-info__name こんにちは、#{user.name}さん！

      ul.list(ng-init='initPosts()')
        li.list-row.list-row--has-separator(ng-repeat='post in posts')
          .list-row__primary
            i.mdi.mdi-book
          .list-row__content
            strong
              |{{post.title.rendered}}
              small.ml {{post.excerpt.rendered}}
            small.fs-body-1
              span.mr {{post.author}}
              code {{post.type}}
          .list-row__secondary
            lx-dropdown(position="right",from-top="true")
              button.btn.btn--m.btn--black.btn--flat(lx-ripple, lx-dropdown-toggle)
                i.mdi.mdi-settings
              lx-dropdown-menu
                ul
                  li
                    a.dropdown-link(href='{{post.link}}')
                      i.mr.mdi.mdi-eye
                      | プレビュー
